/*Configurações Gerais*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  background-color: #fbfbfe;
  color: #6f6d78;
}

h1,
h2,
h3,
h4 {
  color: #242329;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #46454f;
}

img {
  max-width: 100%;
  height: auto;
}

/*------CSS reutilizavel-----*/
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  /* font-size: 2.25rem; */
  font-size: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 3rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/*---------Layout----------*/
.container {
  max-width: 768x;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

/*---Barra de navegação---*/
.nav {
  max-width: 986px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: #242329;
}

.nav-logo:hover {
  color: #52ab8c;
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: #52ab8c;
}

/*----Tela responsiva------*/
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
}

.nav-link:hover {
  color: #52ab8c;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #52ab8c;
}

.nav-close:hover {
  color: #40856c;
}

.show-menu {
  bottom: 0;
}

/*Active link*/
.active-link {
  color: #52ab8c;
}

/*---HOME---*/

.home-img {
  margin-left: 20%;
  border-radius: 1000px;
}
.img-perfil {
  border-radius: 100%;
  width: 190px;
}

.home-container {
  gap: 1rem;
}
.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: #52ab8c;
}
.home-social-icon:hover {
  color: #40856c;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: 2rem;
}

.home-subtitle {
  font-size: 1.125rem;
  color: #6f6d78;
  font-weight: 500;
  margin-bottom: 0.75;
}

.home-description {
  margin-bottom: 2rem;
}
