/*Configurações Gerais*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  background-color: #fbfbfe;
  color: #6f6d78;
}

h1,
h2,
h3,
h4 {
  color: #242329;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #46454f;
}

img {
  max-width: 100%;
  height: auto;
}

/*------CSS reutilizavel-----*/
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  /* font-size: 2.25rem; */
  font-size: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 3rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/*---------Layout----------*/
.container {
  max-width: 768x;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

/*---Barra de navegação---*/
.nav {
  max-width: 986px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: #242329;
}

.nav-logo:hover {
  color: #52ab8c;
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: #52ab8c;
}

/*----Tela responsiva------*/
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
}

.nav-link:hover {
  color: #52ab8c;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #52ab8c;
}

.nav-close:hover {
  color: #40856c;
}

.show-menu {
  bottom: 0;
}

/*Active link*/
.active-link {
  color: #52ab8c;
}

/*---HOME---*/

.home-img {
  margin-left: 20%;
  border-radius: 1000px;
}
.img-perfil {
  border-radius: 100%;
  width: 190px;
}

.home-container {
  gap: 1rem;
}
.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: #52ab8c;
}
.home-social-icon:hover {
  color: #40856c;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: 2rem;
}

.home-subtitle {
  font-size: 1.125rem;
  color: #6f6d78;
  font-weight: 500;
  margin-bottom: 0.75;
}

.home-description {
  margin-bottom: 2rem;
}

/*------------Button--------------------*/
/*------------Contato------------------*/
.button {
  display: inline-block;
  background-color: #52ab8c;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.button:hover {
  background-color: #40856c;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: #52ab8c;
}

.button--link:hover {
  background-color: transparent;
  color: #40856c;
}

/*------Sobre----------*/

.about-description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about-info-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #242329;
}

.about-info-name {
  font-size: 0.75rem;
}

.about-info-title,
.about-info-name {
  display: block;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
}

/*-----Habilidades---------*/
.skills-container {
  row-gap: 0;
}

.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: #52ab8c;
}

.skills-icon {
  margin-right: 0.75rem;
}

.skills-title {
  font-size: 1.5rem;
}

.skills-subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.skills-arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills-list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills-name {
  font-size: 0.983;
  font-weight: 500;
}

.skills-bar {
  height: 5px;
  border-radius: 0.25rem;
  background-color: #52ab8c;
}

.skills-close .skills-list {
  height: 0;
  overflow: hidden;
}

.skills-open .skills-list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills-open .skills-arrow {
  transform: rotate(-180deg);
}
/*---------Formação---------*/
.qualification-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification-button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification-button:hover {
  color: #52ab8c;
}

.qualification-icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification-title {
  font-size: 0.983rem;
  font-weight: 500;
}

.qualification-subtitle {
  display: inline-block;
  font-size: 0.813;
  margin-bottom: 1rem;
}

.qualification-calendar {
  font-size: 0.75;
  color: #a19fad;
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #52ab8c;
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #52ab8c;
  transform: translate(6px, -7px);
}
/*--------Area de Atuação----------*/
.services-container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services-content {
  position: relative;
  background-color: #fff;
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services-icon {
  display: block;
  font-size: 1.5rem;
  color: #52ab8c;
  margin-bottom: 1rem;
}

.services-title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services-button {
  cursor: pointer;
  font-size: 0.813rem;
}

.services-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.services-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services-modal-content {
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services-modal-services {
  row-gap: 1rem;
}

.services-modal-service {
  display: flex;
}

.services-modal-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.services-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #52ab8c;
  cursor: pointer;
}

.services-modal-icon {
  color: #52ab8c;
  margin-right: 0.25rem;
}
/*Active modal*/
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*------portfolio-------*/

.portfolio-container {
  overflow: initial;
}

.portfolio-content {
  padding: 0 1.5rem;
}
.portfolio-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-content: center;
  margin-left: 30px;
}

.portfolio-title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio-description {
  margin-bottom: 0.75rem;
}

.portfolio-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.swiper-button-next,
.swiper-button-prev {
  /* padding: 2rem; */
  padding: 2rem;

  color: #52ab8c;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}
.swiper-button-next {
  margin-right: 70px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #52ab8c;
}
